<div class="about-game-section">
  <div class="about-text">
    <h1>Story</h1>
    <p>
      In the year 2200, with Earth facing dire consequences from climate change
      and overpopulation, humans turn to Mars as a potential refuge. After a
      decade of preparation, a large-scale mission to colonize Mars begins, with
      30 rockets carrying astronauts and materials. However, only 10 rockets
      successfully reach Mars due to numerous challenges along the journey.
      <br/>
      <br/>
      Despite the establishment of the first Earth colony on Mars, the harsh
      environment takes its toll. Extraterrestrial attacks, radiation, and
      sandstorms damage the colony's structures, requiring materials from Earth
      for repairs. As Earth itself plunges into chaos with nuclear war between
      major powers, the colony's survival becomes humanity's last hope. Repeated
      attempts to send aid fail due to the ongoing war.
      <br/>
      <br/>
      Finally, on June 21,
      2213, the USA launches the StarLight rocket to rescue the colony. However,
      the rocket crashes on Mars during an asteroid storm, leaving only one
      survivor, a doctor, and an injured engineer. The team must now navigate
      the treacherous Martian terrain to deliver crucial materials to the
      colony.
    </p>
    <h1>How to Play</h1>
    <p>
      In this game, players navigate characters across Mars, restricted to
      moving one square at a time in four directions: UP, DOWN, LEFT, or RIGHT.
      Each character selects one action from EXPLORE, STAY, HEAL, or REPAIR per
      turn. 
      <br/>
      <br/>
      The Explorer specializes in exploration only, ideal for scouting the
      Martian landscape. The Doctor can heal, explore cautiously, and remain
      stationary, but must beware of their damaged spacesuit. The Engineer
      possesses skills in exploration, repairs, and remaining stationary, but
      must also exercise caution due to injuries. Hazards on Mars, such as
      sandstorms, radiation, extraterrestrial attacks, slipping off rocks, and
      encounters with Darth Vader, pose threats to the characters. It's
      essential to manage life and spacesuit functionality, seeking healing from
      the Doctor when life is low and repairs from the Engineer when spacesuit
      functionality deteriorates.
    </p>
  </div>
  <div class="buttons-section">
    <div (click)="moveToMainPage()">
      <mat-icon class="mat-icon-xl left-arrow">keyboard_arrow_left</mat-icon>
    </div>
  </div>
</div>
