@import "../../../styles.scss";

.danger-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .darth-vader-section {
    background: rgba(0, 0, 0, 0.35);
  }
  
  .aliens-section {
    background: rgba(0, 0, 0, 0.35);
  }

  .cliffs-section {
    background: rgba(0, 0, 0, 0.35);
  }

  .radiation-section {
    background: rgba(0, 0, 0, 0.35);
  }

  .storm-dust-section {
    background: rgba(0, 0, 0, 0.35);
  }
  
.victory-text {
    color: $yellow-orange;
    text-align: center;
    font-size: 2rem;
}

.option {
    width: 25%;
    height: 5vh;
    cursor: pointer;
    background-color: $light-orange;
    color: $pink-beige;
    border: none;
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  .option:hover {
    background-color: $yellow-orange;
  }
