@import "../../../styles.scss";

.colony-discovered-section {
    background: url("../../../images/mars.png.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.victory-text {
    color: $dark-brown;
    font-size: 2rem;
    text-align: center;
}

.option {
    width: 25%;
    height: 5vh;
    cursor: pointer;
    background-color: $light-orange;
    color: $pink-beige;
    border: none;
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  .option:hover {
    background-color: $yellow-orange;
  }