@import "../../styles.scss";

.game-section {
  height: 100vh;
  background: url("../../images/mars.png.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colony-discovered-box {
  background: url("../../images/mars-colony.png.png") center/cover;
}

.characters-section {
  display: flex;
  height: 90%;
  width: 30%;
  margin: 1rem;
  color: $pink-beige;
  flex-direction: column;
}

.character-image {
  margin: 1rem 0px 1rem 0px;
  font-size: 2rem;
  display: flex;
  gap: 10px;
}

.explorer-section,
.doctor-section,
.engineer-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.doctor-section {
  color: $dark-brown;
}

.character-type {
  font-size: 1rem;
}

.board-section {
  height: 90%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem;
  border: 1px solid black;
  box-sizing: border-box;
}

.board-row {
  display: flex;
  flex: 1;
}

.characters-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.explorer-box,
.doctor-box,
.engineer-box {
  width: 30px;
  text-align: center;
}

.explored-box {
  background-color: transparent;
}

.unexplored-box {
  background-color: $intense-orange;
}

.current-character-box {
  background-color: transparent;
}

.disabled-box.explored-box {
  background-color: transparent;
}

.disabled-box.unexplored-box {
  background-color: $intense-orange;
  cursor: not-allowed;
  opacity: 0.5;
}

.player-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-player-arrow {
  transform: translateY(-50%);
  color: $pink-beige;
  animation: bounce 0.6s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
}

.board-box {
  flex: 1;
  border: 1px solid #000;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.options-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.5rem;
}

.buttons-section {
  display: flex;
  gap: 10px;
}

.option {
  width: 25%;
  height: 5vh;
  cursor: pointer;
  background-color: $light-orange;
  color: $pink-beige;
  border: none;
  font-size: 1.25rem;
}

.option:hover {
  background-color: $yellow-orange;
}

.error-message {
  color: #fff;
  background-color: red;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.selected-option,
.disabled-option {
  display: block;
  width: 25%;
  height: 5vh;
  cursor: pointer;
  background-color: $light-orange;
  color: $pink-beige;
  border: none;
  font-size: 1.25rem;
}

.selected-option {
  opacity: 1;
  cursor: pointer;
}

.disabled-option {
  cursor: not-allowed;
  opacity: 0.5;
}

.restart-game {
  position: absolute;
  bottom: 1rem;
}