@import "../../styles.scss";

.game-section {
  height: 100vh;
  background: url("../../images/mars.png.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colony-discovered-box {
  background: url("../../images/mars-colony.png.png") center/cover;
}

.mars-cliffs-box {
  background: url("../../images/mars-cliffs.png.jpg") center/cover;
}

.mars-storm-box {
  background: url("../../images/storm-dust.png.jpg") center/cover;
}

.mars-radiation-box {
  background: url("../../images/radiation.png.jpg") center/cover;
}

.mars-aliens-box {
  background: url("../../images/aliens.png.jpg") center/cover;
}

.mars-boss-box {
  background: url("../../images/darth-vader.png.png") center top/cover;
}

.disabled-character {
  opacity: 0.5;
}

.characters-section {
  display: flex;
  height: 90%;
  width: 30%;
  margin: 1rem;
  color: $pink-beige;
  flex-direction: column;
}

.character-image {
  margin: 1rem 0px 1rem 0px;
  font-size: 2rem;
  display: flex;
  gap: 10px;
}

.explorer-section,
.doctor-section,
.engineer-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.doctor-section {
  color: $dark-brown;
}

.character-type {
  font-size: 1rem;
}

.board-section {
  height: 90%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem;
  border: 1px solid black;
  box-sizing: border-box;
}

.board-row {
  display: flex;
  flex: 1;
}

.characters-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.explorer-box,
.doctor-box,
.engineer-box {
  width: 30px;
  text-align: center;
}

.explored-box {
  background-color: transparent;
}

.unexplored-box {
  background-color: $intense-orange;
}

.current-character-box {
  background-color: transparent;
}

.disabled-box.explored-box {
  background-color: transparent;
}

.disabled-box.unexplored-box {
  background-color: $intense-orange;
  cursor: not-allowed;
  opacity: 0.5;
}

.player-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-player-arrow {
  transform: translateY(-50%);
  color: $pink-beige;
  animation: bounce 0.6s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-60%);
  }
}

.board-box {
  flex: 1;
  border: 1px solid #000;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.options-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.5rem;
}

.buttons-section {
  display: flex;
  gap: 10px;
}

.option {
  width: 25%;
  height: 5vh;
  cursor: pointer;
  background-color: $light-orange;
  color: $pink-beige;
  border: none;
  font-size: 1.25rem;
}

.option:hover {
  background-color: $yellow-orange;
}

.error-message {
  color: #fff;
  background-color: red;
  padding: 8px;
  border-radius: 4px;
  margin-top: 8px;
}

.selected-option,
.disabled-option {
  display: block;
  width: 25%;
  height: 5vh;
  cursor: pointer;
  background-color: $light-orange;
  color: $pink-beige;
  border: none;
  font-size: 1.25rem;
}

.selected-option {
  opacity: 1;
  cursor: pointer;
}

.disabled-option {
  cursor: not-allowed;
  opacity: 0.5;
}

.restart-game {
  position: absolute;
  bottom: 1rem;
}

.checkbox-section-explorer {
  margin-top: 1.5rem;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: #e77d11;
    --active-inner: #fff;
    --focus: 2px rgba(231, 125, 17, .3);
    --border: #451804;
    --border-hover: #e77d11;
    --background: #fff;
    --disabled: #f0e7e7;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
    color: #f0e7e7;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}
