<div class="game-section">
  <div class="characters-section">
    <ng-container *ngFor="let character of characters">
      <div class="{{ character.type }}-section" [ngClass]="{'disabled-character': isCharacterDead(character)}">
        <div class="character-image">
          {{ character?.avatar }} - <span class="character-type"> {{ character?.type | titlecase}} </span>
        </div>
        <span>NAME: {{ character?.name | titlecase}}</span>
        <span>HP: {{ isCharacterDead(character) ? 0 : character?.hp }}</span>
        <span>ARMOUR: {{ character?.armour }}</span>



        <ng-container *ngIf="character.type === 'doctor'">
          <ng-container *ngIf="selectedOption === 'Heal' && currentPlayer === 'doctor'">
          <span *ngIf="doctor && explorer && areCharactersOnSamePosition(doctor, explorer)">
            <div class="checkbox-wrapper-13 checkbox-section-explorer">
              <input id="c1-13" type="checkbox" [(ngModel)]="explorerHealCheckbox" (change)="onExplorerCheckboxChange()">
              <label for="c1-13">Heal Explorer</label>
            </div>

          </span>
          </ng-container>

          <ng-container *ngIf="selectedOption === 'Heal' && currentPlayer === 'doctor'">
            <span *ngIf="doctor && engineer && areCharactersOnSamePosition(doctor, engineer)">
              <div class="checkbox-wrapper-13 checkbox-section-explorer">
                <input id="c1-13" type="checkbox" [(ngModel)]="engineerHealCheckbox" (change)="onEngineerCheckboxChange()">
                <label for="c1-13">Heal Engineer</label>
              </div>
            </span>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="character.type === 'engineer'">
          <ng-container *ngIf="selectedOption === 'Repair' && currentPlayer === 'engineer'">
          <span *ngIf="engineer && explorer && areCharactersOnSamePosition(engineer, explorer)">
            <div class="checkbox-wrapper-13 checkbox-section-explorer">
              <input id="c1-13" type="checkbox" [(ngModel)]="explorerRepairCheckbox" (change)="onExplorerCheckboxChangeRepair()">
              <label for="c1-13">Repair Explorer Armour</label>
            </div>

          </span>
          </ng-container>

          <ng-container *ngIf="selectedOption === 'Repair' && currentPlayer === 'engineer'">
            <span *ngIf="engineer && doctor && areCharactersOnSamePosition(engineer, doctor)">
              <div class="checkbox-wrapper-13 checkbox-section-explorer">
                <input id="c1-13" type="checkbox" [(ngModel)]="doctorRepairCheckbox" (change)="onDoctorCheckboxChange()">
                <label for="c1-13">Repair Doctor Armour</label>
              </div>
            </span>
          </ng-container>
        </ng-container>

      </div>
    </ng-container>
    <div class="options-section">
      <div class="buttons-section" *ngIf="atLeastOneCharacterAlive()">
        <button
          mat-stroked-button
          class="option"
          *ngFor="let option of getAvailableOptions()"
          (click)="onOptionSelect(option)"
          [ngClass]="{'selected-option': isOptionSelected && option === selectedOption, 'disabled-option': isOptionSelected && option !== selectedOption}"
        >
          {{ option }}
        </button>
      </div>
      
      <div *ngIf="showErrorMessage" class="error-message">
        {{ getErrorMessage() }}
      </div>
    </div>
    <button mat-stroked-button class="option restart-game" *ngIf="(isColonyDiscovered && this.dialogService.isDialogClosed) || !atLeastOneCharacterAlive()" (click)="restartGame()">Restart Game</button>


  </div>
  <div class="board-section">
    <div *ngFor="let row of board; let i = index" class="board-row">
      <div *ngFor="let box of row; let j = index" class="board-box"
        [ngClass]="{
          'explored-box': box === 'explored',
          'unexplored-box': box === 'unexplored',
          'current-character-box': isCurrentCharacterPosition(i, j),
          'disabled-box': !isAdjacentPosition(i, j) || box === 'explored',
          'colony-discovered-box': isColonyDiscovered && i === winning.row && j === winning.col,
          'mars-cliffs-box': i === cliff.row && j === cliff.col && box === 'explored',
          'mars-storm-box': (i === storms.row1 && j === storms.col1 && box === 'explored') || (i === storms.row2 && j === storms.col2 && box === 'explored') || (i === storms.row3 && j === storms.col3 && box === 'explored'),
          'mars-radiation-box': (i === radiations.row1 && j === radiations.col1 && box === 'explored') || (i === radiations.row2 && j === radiations.col2 && box === 'explored'),
          'mars-aliens-box': (i === aliens.row1 && j === aliens.col1 && box === 'explored') || (i === aliens.row2 && j === aliens.col2 && box === 'explored'),
          'mars-boss-box': (i === darthVader.row && j === darthVader.col && box === 'explored')
        }"
        (click)="onBoxClick(i, j)">
        <div class="characters-box">
          <ng-container *ngFor="let character of characters">
            <div class="player-box" *ngIf="character && character.position?.row === i && character.position?.col === j">
              <mat-icon [style.visibility]="currentPlayer === character.type ? 'visible' : 'hidden'" class="current-player-arrow" *ngIf="!isColonyDiscovered && character.hp > 0">
                keyboard_arrow_down
              </mat-icon>
              <span *ngIf="character.type === 'explorer' && character.hp > 0">👨‍🚀</span>
              <span *ngIf="character.type === 'doctor' && character.hp > 0">👨‍⚕️</span>
              <span *ngIf="character.type === 'engineer' && character.hp > 0">👷</span>
              

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div> 