
$pink-beige: #f0e7e7;
$dark-brown: #451804;
$intense-orange: #c1440e;
$light-orange: #e77d11;
$yellow-orange: #fda600;

html, body { height: 100%; }
body { margin: 0; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
